<h1>Books</h1>

<table>
  <thead>
   <tr>
     <th>Title</th>
     <th>Body</th>
     <th></th>
   </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.body %></td>
        <td>
          <span>Show</span>
          <span>Edit</span>
          <span>Destroy</span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
